@cor:blue;
@cor2:green;
@cor3:white;
@width:0.15;

.drop-shadow{
    text-shadow: 2px 1px 1px #ccc;
    text-decoration: underline;
}
h1{
    .cores(50px,'h1');
}
// p{
//     //verifica se é uma cor, caso não for, recebe uma cor, caso não tenha a primeira, recebe red
//     color:if(iscolor(@cor),@cor,red);
//     width: percentage(@width);
//     b{
//         .cores();
//         font-size: 23px;
//     }
// }
p{
    .cores(50px,'p');
}
body{
    text-align: center;
    box-sizing: border-box;
    margin: 200px;
}
//MIXIN
.cores(@tamanho, @tag){
    color:@cor;
    font-size: @tamanho;
    & when(@tag = 'h1'){
        text-shadow: 2px 1px 1px #7a7b7c;
    }
    & when(@tag = 'p'){
        background-color: lightgreen;
    }
}
